__pycache__/
.ipynb_checkpoints/
*.egg-info/
ipynb_checkpoints
/.ipynb_checkpoints/
/.ipynb_checkpoints/
/.coverage
/docs/_build/
~$*
/build/
*.orig
*.ini
MELTS/
Examples/
docs/Installation/alphamelts_py/
docs/Installation/alphamelts_py-2.3.1/
docs/Installation/alphamelts_py-2.3.2/

__pycache__/
.ipynb_checkpoints/
*.egg-info/
ipynb_checkpoints
/.ipynb_checkpoints/
/.ipynb_checkpoints/
/.coverage
/docs/_build/
~$*
/build/
*.orig
*.ini
MELTS/
Examples/
docs/Installation/alphamelts_py/
docs/Installation/alphamelts_py-2.3.1/
docs/Installation/alphamelts_py-2.3.2/
